#MenuModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 60vh;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  align-content: space-around;
}

#MenuModal img {
  width: 30vw;
  height: 60vh;
}

.nutrients {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.nutrients span {
  margin: 1vw 4vw;
}
hr {
  width: 45vw;
}
